@import '_variables';

@mixin content_wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $MQNarrow) {
    padding: 2rem;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 1.5rem 1rem;
  }
}

@mixin dropdown_wrapper {
  transition: height 0.1s ease-out;
  overflow: hidden;
}

@mixin card_item {
  box-shadow: 0 1px 4px 1px var(--card-shadow);
  transition: box-shadow var(--t-transform);
  border-radius: var(--card-radius);

  &:hover {
    box-shadow: 0 2px 6px 2px var(--card-shadow);
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**
* css 文本省略
* @param $line 几行省略
*/
@mixin textEllipsis($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
