// responsive breakpoints
$MQToc: 1370px !default;
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// blog
$BIMinWidth: 18.75rem !default;

// tag默认颜色
$tag-colors: #e6a23c, #f56c6c, #909399, #67c23a, #409eff !default;

// 动画时间
$animation-time: 0.3s ease;
