@use 'vars.scss';
@import '_mixins';
@import '_variables';

.article-list-wrapper {
  flex: 1;
  max-width: 780px;

  @media (max-width: $MQMobile) {
    padding: 0 1.2rem;
    width: calc(100% - 1rem);
  }
}

.article-item-container {
  border-radius: var(--card-radius);
  background-color: var(--c-bg-light);
  overflow: hidden;
  @include card_item;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  .article-item-mobile-narrow {
    padding: 0.5rem !important;
  }
  .article-item {
    padding: 0.5rem 1rem;
    @include flexBetween();
    align-items: flex-start;
    height: 100%;
    position: relative;

    .article-text {
      width: calc(50% - 1rem);
      height: 100%;
      // flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .article-name {
        display: inline-block;
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        position: relative;
        max-width: max-content;
        &::after {
          transition: width 0.2s;
          content: '';
          width: 0%;
          height: 0.15rem;
          background-color: var(--c-theme);
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      .cover-info-text {
        margin-bottom: 0.3rem;
        width: 100%;
        flex-grow: 1;
        margin-right: 0.5rem;
        font-size: 0.87rem;
        // padding: 0.3rem 0;
        line-height: 1.7;
        @include textEllipsis(4);
        p {
          margin: 0;
          line-height: 1.6;
        }
        .custom-article-excerpt {
          margin-top: 0rem !important;
        }
      }
    }
    .transition-zone {
      position: absolute;
      left: calc(50% - 0.4rem);
      top: -3%;
      width: 1rem;
      height: 105%;
      filter: blur(4px);
      z-index: 1;
      background-position: left;
    }
    .article-cover {
      margin: -0.5rem -1rem -0.5rem 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .mobile-article-cover {
    margin-top: -0.6rem;
    margin-bottom: -0.4rem;
    width: 100%;
    height: 11rem;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.article-info-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;

  .category-text {
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
    &:not(&:first-child) {
      &::before {
        content: '/';
        margin: 0 0.3rem;
      }
    }
    // 屏幕过小不展示
    // @media (max-width: $MQMobile) {
    //   &:not(&:first-child) {
    //     display: none;
    //     &::before {
    //       content: '';
    //     }
    //   }
    // }
  }
  .article-info-items {
    .icon-text {
      margin-left: 0.3rem !important;
    }
  }
}
