@use 'vars.scss';

.article-list-wrapper {
  flex: 1;
  overflow: hidden;
  max-width: 780px;

  .article-item {
    border: 1px solid var(--c-border);
    margin-top: 3rem;
    border-radius: 3px;
    padding: 1rem;
    background-color: var(--c-bg-light);
  }
}
