@import '_mixins';

.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cp {
  cursor: pointer;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.waline-wrapper {
  @include content_wrapper();

  .wl-panel {
    margin: 0 !important;
  }
}

.custom-article-name {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.custom-article-excerpt {
  display: flex;
  // narrow mobile
  img {
    max-width: initial !important;
  }
}
