.icon-container {
  display: flex;
  margin-right: 1rem;

  &.left {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .icon-text {
      margin-left: 0.3rem;
    }
  }

  &.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    > .icon-text {
      margin-right: 0.3rem;
    }
  }

  &.top {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .icon-text {
      margin-top: 0.3rem;
    }
  }

  &.bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > .icon-text {
      margin-bottom: 0.3rem;
    }
  }
}
