@import '_variables';
@import 'vars';
@import '_mixins';

.zp-img-container {
  @include flexCenter;
  border-radius: 0.6rem;
}

.zp-img-skeleton {
  @include skeleton();
}

.zp-img {
  transition: all var(--t-show-img);
  border-radius: 0.6rem;
  margin: 0 !important;
}

.img-loading-animation {
  transform: scale(0);
}
.img-loaded-animation {
  transform: scale(1);
}
