@use '_variables.scss' as variables;
@use 'vars' as *;
@use '_mixins' as mixins;

.zp-img-container {
  @include mixins.flexCenter;
  // border-radius: var(--image-radius);
  overflow: hidden;
}

.zp-img-skeleton {
  @include mixins.skeleton();
}

.zp-img {
  transition: all var(--t-show-img);
  margin: 0 !important;
}

.img-loading-animation {
  transform: scale(0);
}
.img-loaded-animation {
  transform: scale(1);
}
