@import '_mixins';
@import '_variables';

.menu {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
  }

  .navbar-items {
    display: none;
    // border-bottom: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding: 0.5rem 0 0.75rem 0;

    a {
      font-weight: 600;
      @include flexStart;
    }

    .navbar-item {
      display: block;
      line-height: 1.25rem;
      font-size: 1em;
      padding: 1rem 0rem;
      margin: 0rem 2.5rem;
      border-bottom: 1px solid var(--c-border);
    }
  }

  .color-mode-btn {
    height: 2.5rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.5rem 2.5rem;
    background-color: var(--c-bg-light);
    border-radius: var(--btn-radius);
    @include flexBetween;
  }
}

@media (max-width: $MQMobile) {
  .menu {
    .navbar-items {
      display: block;

      .navbar-dropdown-wrapper .navbar-dropdown .navbar-dropdown-item a.router-link-active::after {
        top: calc(1rem - 2px);
      }
    }
  }
}

/**
 * toggle sidebar button
 */
.toggle-sidebar-button {
  // position: absolute;
  // top: 0.6rem;
  // left: 1rem;
  display: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.toggle-sidebar-button .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  cursor: inherit;

  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--c-text);
    transition: transform var(--t-transform);

    &:nth-child(2) {
      margin: 6px 0;
    }
  }
}

@media screen and (max-width: $MQMobile) {
  .toggle-sidebar-button {
    display: block;
  }
}
