@import '_mixins';
@import '_variables';
@import 'article';

.page {
  display: block;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 2rem);

  .theme-default-content {
    @include content_wrapper;
    padding-top: 2rem;

    .content-header {
      // margin-top: 3rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--c-border);
      .content-header-title {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .content-cover-box {
      border-radius: var(--image-radius);
      max-width: 100%;
      overflow: hidden;
      @include flexStart;
    }
    .content-cover {
      // width: 100%;
      max-height: 18.75rem;
      // @include flexStart;
      // margin-top: 2rem;
      // @media (max-width: $MQMobileNarrow) {
      //   margin-top: 1rem;
      // }
    }
    .zp-img-skeleton {
      min-height: 10rem;
    }
  }
}

.page-meta {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  font-size: 14px;
  @include flexBetween();

  @media (max-width: $MQMobileNarrow) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;
    @include flexStart();

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    // display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
    color: var(--c-text-quote);
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: hidden;
    @include flexBetween();
  }
  @media (max-width: $MQMobile) {
    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .pager {
      width: 100% !important;
      &:not(&:first-child) {
        margin-top: 10px;
      }
    }
  }
  .pager {
    box-sizing: border-box;
    width: 43%;
    padding: 1rem 0.8rem;
    border: 1px solid var(--c-border);
    border-radius: var(--btn-radius);
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all var(--t-color);
    cursor: pointer;
    font-weight: 500;
    visibility: hidden;

    .pre-page {
      width: 100%;
      text-align: left;
      font-size: 12px;
      color: var(--c-text-quote);
      line-height: 20px;
    }
    .pre-page-target {
      font-size: 14px;
      width: 100%;
      line-height: 20px;
      @include textEllipsis(1);
    }
    a {
      font-size: 14px;
    }

    .pre-icon {
      transition: all var(--t-transform);
      transform: rotate(180deg) translateX(250%);
      visibility: hidden;
      margin-right: -0.9rem !important;
    }

    &:hover {
      border-color: var(--c-theme);
      .pre-icon {
        visibility: visible;
        margin-right: 0.3rem !important;
        transform: rotate(180deg) translateX(20%);
      }
    }
  }

  .pager-show {
    visibility: visible;
  }

  .has-next {
    flex-direction: row;
    justify-content: flex-end;

    .next-texts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .pre-page,
    .pre-page-target {
      text-align: right;
    }

    .pre-icon {
      visibility: hidden;
      transition: all var(--t-transform);
      transform: translateX(250%);
    }
    &:hover {
      .pre-icon {
        visibility: visible;
        margin: 0 !important;
        margin-left: 0.5rem !important;
        transform: translateX(20%);
      }
    }
  }
}
