@import '_mixins';
@import '_variables';
@import 'article';

.page {
  display: block;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 2rem);

  .theme-default-content {
    @include content_wrapper;
    padding-top: 2rem;

    .content-header {
      // margin-top: 3rem;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--c-border);
      .content-header-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }

    .content-cover-box {
      border-radius: var(--image-radius);
      max-width: 100%;
      overflow: hidden;
      @include flexStart;
    }
    .content-cover {
      // width: 100%;
      max-height: 18.75rem;
      // @include flexStart;
      // margin-top: 2rem;
      // @media (max-width: $MQMobileNarrow) {
      //   margin-top: 1rem;
      // }
    }
    .zp-img-skeleton {
      min-height: 10rem;
    }
  }
}

.page-meta {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  font-size: 0.9rem;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  @include content_wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: auto;
  }

  .prev {
    a:before {
      content: '←';
    }
  }
  .next {
    float: right;
    a:after {
      content: '→';
    }
  }
}
