@import '_mixins';
@import '_variables';

.sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
  }

  .sidebar-items {
    padding: 1.5rem 0;
  }
}

@media (max-width: $MQMobile) {
  .sidebar {
    .sidebar-items {
      padding: 1rem 0;
    }
  }
}

.sidebar-item {
  cursor: default;
  color: var(--c-text);
  border: none;
  background-color: transparent;

  &:focus-visible {
    outline-width: 1px;
    outline-offset: -1px;
  }

  &.active:not(button.sidebar-heading) {
    color: var(--c-text-accent);
    background-color: var(--btn-active-bg);
  }

  &.sidebar-heading {
    transition: color var(--t-color) ease;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.35rem 1.5rem 0.35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    + .sidebar-item-children {
      @include dropdown_wrapper;
      margin-bottom: 0.75rem;
    }

    &.collapsible {
      cursor: pointer;
      @include flexBetween();

      .arrow {
        transition: all var(--t-transform);
        transform: rotate(-90deg);
      }
      .arrow-open {
        transform: rotate(0deg);
      }
    }
  }

  &:not(.sidebar-heading) {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    margin-left: 2rem;
    padding: 0.35rem 2rem 0.35rem 1rem;
    line-height: 1.4;
    width: 77%;
    box-sizing: border-box;
    border-radius: var(--btn-radius);

    & + .sidebar-item-children {
      padding-left: 1rem;
      font-size: 0.95em;
    }

    .sidebar-item-children .sidebar-item-children & {
      padding: 0.25rem 1rem 0.25rem 1.75rem;

      &.active {
        font-weight: 500;
        border-left-color: transparent;
      }
    }

    a.sidebar-heading + .sidebar-item-children &.active {
      border-left-color: transparent;
    }
  }
}

a.sidebar-item {
  cursor: pointer;
  transition:
    color var(--t-color),
    background-color var(--t-color);
  &:hover {
    color: var(--c-text-accent);
    background-color: var(--c-bg-dark);
  }
}
