.loader-wrapper {
  height: 100vh;
  width: 100vw;
  background: var(#fff);
}

.loader-box {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  right: 50%;
  margin-top: -100px;
  margin-right: -100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: inherit;
  text-align: center;
}

.label {
  height: 30px;
  line-height: 30px;
  padding-top: 20px;
  font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 20px;
}

.loader {
  width: 90px;
  height: 90px;
  background-color: inherit;
  overflow: hidden;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid var(--c-theme);
  position: relative;
  margin: 15px auto;
  z-index: 1;
}

.top-car {
  animation: animationFrames linear 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.bottom-car {
  position: relative;
  bottom: 7%;
  animation: animationFramess linear 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.bottom-car svg {
  overflow: hidden;
  /* // background-color: var(--c-bg); */
}

@keyframes animationFramess {
  0% {
    transform: translate(-100px, 15px);
  }

  100% {
    transform: translate(100px, 15px);
  }
}

@keyframes animationFrames {
  0% {
    transform: translate(100px, 15px);
  }

  100% {
    transform: translate(-100px, 15px);
  }
}

.center-line {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--c-theme) 14px,
    transparent 14px,
    transparent
  );
  background-size: 28px 100%;
  position: relative;
  top: 18%;
}
