@import '../_variables';
@import '../_mixins';

.navbar {
  --navbar-line-height: calc(var(--navbar-height) - 2 * var(--navbar-padding-v));
  padding: var(--navbar-padding-v) var(--navbar-padding-h);
  // line-height: var(--navbar-line-height);
  box-shadow: var(--nav-shadow);

  .navbar-brand {
    @include flexStart;

    a {
      display: flex;
      .logo {
        height: var(--navbar-line-height);
        margin-right: var(--navbar-padding-v);
        vertical-align: top;
      }
    }
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--c-text);
    position: relative;
  }

  .navbar-items-wrapper {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: var(--navbar-padding-v);
    right: var(--navbar-padding-h);
    height: var(--navbar-line-height);
    // padding-left: var(--navbar-padding-h);
    white-space: nowrap;

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    .can-hide {
      display: none;
    }

    .site-name {
      width: calc(100vw - 12rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

/**
 * navbar-items
 */
.navbar-items {
  @include flexCenter;
  font-size: 0.875rem;

  a {
    color: inherit;
    transition: color var(--t-color);

    &:hover,
    &.router-link-active {
      color: var(--c-theme);
    }
  }

  .navbar-item {
    position: relative;
    display: inline-block;
    margin: 0rem 0.75rem;
    box-sizing: border-box;
    // line-height: var(--navbar-line-height);

    .icon-container {
      margin-right: 0rem;

      // .icon-text {
        // margin-left: 0.2rem;
      // }
    }

    .title {
      margin-left: 0.2rem;
    }

    > a {
      display: flex;
      justify-content: center;
      align-items: center;

      // &::after {
      //   transition: width 0.2s;
      //   content: '';
      //   width: 0%;
      //   height: 2px;
      //   background-color: var(--c-theme);
      //   position: absolute;
      //   bottom: -0.4rem;
      // }
      // &:hover,
      // &.router-link-active {
      //   &::after {
      //     width: 100%;
      //   }
      // }
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar-items {
    .navbar-item {
      margin-left: 0;

      > a {
        display: flex;
        justify-content: flex-start;
        &:hover,
        &.router-link-active {
          &::after {
            width: 0%;
          }
        }
      }
    }

    a {
      &:hover,
      &.router-link-active {
        color: var(--c-text-accent);
        &::after {
          width: 0%;
        }
      }
    }
  }
}

/**
 * toggle color mode button
 */
.toggle-color-mode-button {
  @include flexCenter;
  border: 0;
  background: none;
  color: var(--c-text);
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.DocSearch {
  transition: background-color var(--t-color);
}
