:root {
  --c-copy-btn-bg: #f6f8fa;
  --c-copy-btn-bg-hover: #f1f4f7;
  --c-copy-icon-color: #8d9196;
  --c-copy-success-icon-color: #448d62;
  --c-copy-tooltip-bg: #161616;
  --c-copy-tooltip-color: #ece6e6;
  --t-transform: 0.2s 0 ease;
}

html.dark {
  --c-copy-btn-bg: #222020;
  --c-copy-btn-bg-hover: #080808;
  --c-copy-tooltip-bg: #000;
}
.copy-code-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 5px;
  background: var(--c-copy-btn-bg);
  cursor: pointer;
  transition: all var(--t-transform);
  opacity: 0;
}
.copy-code-btn:hover {
  background: var(--c-copy-btn-bg-hover);
}
.copy-icon {
  display: inline-block;
  fill: var(--c-copy-icon-color);
}
.copy-icon-hidden {
  display: none;
}
.copy-success-icon {
  fill: var(--c-copy-success-icon-color);
  display: none;
}
.copy-success-icon-show {
  display: inline-block !important;
}

.copy-code-btn-show {
  opacity: 1 !important;
}
.copy-code-btn-active {
  border: 1px solid var(--c-copy-success-icon-color);
}

.copy-code-tooltip::before {
  content: attr(data-tooltip-text);
  line-height: 25px;
  width: max-content;
  font-size: smaller;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 35px;
  z-index: 3;
  border-radius: 5px;
  color: var(--c-copy-tooltip-color);
  background-color: var(--c-copy-tooltip-bg);
  transition: all var(--t-transform);
  opacity: 0;
}
.copy-code-tooltip::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 26px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--c-copy-tooltip-bg);
  transition: all var(--t-transform);
  opacity: 0;
}

.copy-code-tooltip-show::after,
.copy-code-tooltip-show::before {
  opacity: 1;
}
